<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="POST">
       {% csrf_token %}
       <input type = "text" name="city_name" id="" placeholder="City name"
       <button type="submit"> Submint data</button>
   </form> 
   <div><h6>City:</h6><span>{{ city }}</span></div>
   <div><h6>Country:</h6><span>{{ country }}</span></div>
   <div><h6>Weather:</h6><span>{{ weather }}</span></div>
   <div><h6>Details:</h6><span>{{ desc }}</span></div>
   <div><h6>Temperature:</h6><span>{{ temperature }}</span></div>
   <div><h6>Feels_like:</h6><span>{{ feels_like }}</span></div>
   <div><h6>Pressure:</h6><span>{{ pressure }}</span></div>
   <div><h6>Humidity:</h6><span>{{ humidity }}</span></div>
</body>
</html>